spawn-at-startup "noctalia"
spawn-at-startup "udiskie"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "systemctl start --user app-com.mitchellh.ghostty.service"
spawn-sh-at-startup "nm-applet"
spawn-sh-at-startup "sleep 1; set-theme"

prefer-no-csd

input {
    keyboard {
        xkb {
            layout "gb"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    warp-mouse-to-focus
    // focus-follows-mouse
}

layout {
    gaps 10

    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {}

    focus-ring {
        off
    }

    border {
        off
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        softness 30
        spread 10
        offset x=0 y=5
        color "#0007"
    }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path null

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    default-window-height { proportion 0.5; }
}

window-rule {
    match app-id="ghostty"
    default-column-width { proportion 1.0; }
    background-effect {
        blur true
    }
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// Shell bar, launcher, etc.
layer-rule {
    background-effect {
        xray false;
    }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

overview {
    zoom 0.6
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Mod+T hotkey-overlay-title="Ghostty" { spawn-sh "ghostty +new-window"; }
    Mod+Space hotkey-overlay-title="Vicinae" { spawn-sh "vicinae toggle"; }
    Mod+B hotkey-overlay-title="Firefox" { spawn-sh "firefox"; }
    Mod+Shift+B hotkey-overlay-title="Select Firefox Profile" { spawn-sh "SELECTOR=vicinae select-firefox-profile"; }
    Mod+C hotkey-overlay-title="Calculator" { spawn-sh "gnome-calculator"; }

    // Tools
    Mod+S hotkey-overlay-title="Switch Env" { spawn "switch-env"; }
    Mod+P hotkey-overlay-title="Screenshot (Noctalia)" { spawn-sh "noctalia msg screenshot-region"; }
    Mod+Shift+P hotkey-overlay-title="Colour Picker (Hyprpicker)" { spawn-sh "hyprpicker -a"; }
    Mod+Ctrl+P hotkey-overlay-title="Fullscreen Screenshot (Noctalia)" { spawn-sh "noctalia msg screenshot-fullscreen pick"; }
    // Mod+N hotkey-overlay-title="Notifications (Noctalia)" { spawn-sh "noctalia-shell ipc call notifications toggleHistory"; } // TODO: Fix this
    Mod+Shift+S hotkey-overlay-title="Select Overlay" { spawn-sh "SELECTOR=vicinae select-overlay"; }
    Mod+Period hotkey-overlay-title="Emoji Picker (Vicinae)" { spawn-sh "vicinae vicinae://launch/core/search-emojis"; }
    Mod+Z hotkey-overlay-title="Zoom (Wooz)" { spawn-sh "wooz --invert-scroll"; }

    // Exit
    Mod+E hotkey-overlay-title="Lock" { spawn-sh "noctalia msg session lock"; }
    Mod+Shift+E hotkey-overlay-title="Lock and Sleep" { spawn-sh "noctalia msg session lock-and-suspend"; }
    Mod+M hotkey-overlay-title="Empty ssh-add and Exit" { spawn-sh "ssh-add -D && niri msg action quit"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+U     { focus-window-down; }
    Mod+I     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+U     { move-window-down; }
    Mod+Shift+I     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+J              { focus-workspace-down; }
    Mod+K              { focus-workspace-up; }
    Mod+Shift+J         { move-column-to-workspace-down; }
    Mod+Shift+K         { move-column-to-workspace-up; }

    Mod+Ctrl+J         { move-workspace-down; }
    Mod+Ctrl+K         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+D hotkey-overlay-title="Set Column Width (50%)" { set-column-width "50%"; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Left { set-column-width "-10%"; }
    Mod+Right { set-column-width "+10%"; }
    Mod+Up { set-window-height "-10%"; }
    Mod+Down { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+G { toggle-column-tabbed-display; }
}

include "./matugen.kdl"
