* {
    font-family: "SF Pro Display", sans-serif;
    font-size: 10px;
}

#waybar {
    background-color: #171a16;
    /* background-color: rgba(28, 28, 30, 0.50); causes the flicker :( */
    padding: 4px 10px;
    margin: 5px;
}

#battery,
#backlight,
#pulseaudio,
#tray,
#clock {
    font-family: 'SF Mono', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

#workspaces button {
    background: transparent;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 100px;
    font-weight: 700;
}

#workspaces button.active {
    background: white;
    color: black;
}

#clock {
    font-weight: 700;
    font-size: 12px;
    color: white;
}

#window {
    padding: 0 5px;
    font-weight: 600;
}

#custom-launcher {
    color: white;
    padding: 0 20px 0 13px;
    font-size: 20px;
}
