* {
    font-family: 'SF Mono', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(25,23,36,0.7);
    color: #e0def4;
}

#workspaces {
    padding-left: 8px;
}

#workspaces button {
    background: transparent;
    color: #e0def4;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 100px;
}

#workspaces button:hover {
    color: #e0def4;
}

#workspaces button.active {
    background: #e0def4;
    color: #000000;
}

#battery {
    padding-right: 8px;
    padding-left: 8px;
}

#clock {
    padding-right: 8px;
    padding-left: 8px;
}

#tray {
    padding-right: 8px;
    padding-left: 8px;
}

#network {
    padding-right: 8px;
    padding-left: 8px;
}

#pulseaudio {
    padding-right: 8px;
    padding-left: 8px;
}

#backlight {
    padding-right: 8px;
    padding-left: 8px;
}
